.select-round-arrow{
  -webkit-appearance: none;
  appearance: none;
  background: url("~img/query-select-down.png") no-repeat 0 center;
  background-size: 14px 14px;
  line-height: 20px;
  padding: 10px 10px 10px 19px;
  border: none;
  color: #333333;
  font-size: 14px;
}
